extends layout

block content
  div
    form(action='')
      input(type='text', name='word', value=word)
      input(type='submit')
      if tword
        p= tword
      else if word
        p #{word}は辞書に登録されていません

