body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  	
p
	#id
		color: red
	.class
		color: green
div
	background-color: blue
div
	background-color: red
	div
		background-color: green
	p
		color: blue
	h1
		color: yellow